This homework assignment uses the Yelp Academic dataset, with which you should now be familiar.
We have created a few cells to get you started, but you're largely on your own to devise solutions to the
"real-world" questions below.

In this assignment, provide solutions that use spark.sql() calls to query the dataset. For example, to find the answer to "How many users have more than 100 "cool" votes?", this:
```
query = """
SELECT count(*) FROM user WHERE cool > 100
"""
spark.sql(query).show()
```
is similar to:
```
user.filter('cool > 100').show()
```
But in this assignment, use the first approach. The autograder will check for the use of `spark.sql()`

Our usual Spark mantra:

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.master("local[*]")
    .appName("My First Spark application")
    .getOrCreate()
)

sc = spark.sparkContext
sc._conf.set("spark.default.parallelism", 2)

In [ ]:
# Output
```
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/17 01:45:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
<pyspark.conf.SparkConf at 0x7f5310332ef0>
``

Load the JSON files:

In [ ]:
business = spark.read.json(
    "../../assets/data/yelp_academic/yelp_academic_dataset_business.json.gz"
)
checkin = spark.read.json(
    "../../assets/data/yelp_academic/yelp_academic_dataset_checkin.json.gz"
)
review = spark.read.json(
    "../../assets/data/yelp_academic/yelp_academic_dataset_review.json.gz"
)
tip = spark.read.json(
    "../../assets/data/yelp_academic/yelp_academic_dataset_tip.json.gz"
)
user = spark.read.json(
    "../../assets/data/yelp_academic/yelp_academic_dataset_user.json.gz"
)

In [ ]:
# Output
```                                                                                
24/12/17 01:45:32 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
```

Create temp views for the DataFrames:

In [ ]:
business.createOrReplaceTempView("business")
checkin.createOrReplaceTempView("checkin")
tip.createOrReplaceTempView("tip")
review.createOrReplaceTempView("review")
user.createOrReplaceTempView("user")

---

## Question 0 -- Simple Query Example

Get a list of users named "Kahlil" with the number of their reviews tagged "funny".

- The result should have these columns (in this order):
  - `user_id`
  - `name`
  - `funny`
- The result rows do NOT need to be ordered

In [ ]:
# Solve the problem by assigning populating the provided variable
# with the result of the Spark SQL query


def users_kahlil():
    return spark.sql(
        """\
        SELECT user_id, name, funny
        FROM user
        WHERE name = "Kahlil"
        """
    )

In [ ]:
# It can be helpful to look at the result with .show()

results = users_kahlil()
results.show()

In [ ]:
# Output
```
+--------------------+------+-----+
|             user_id|  name|funny|
+--------------------+------+-----+
|HE5fZW8m7MpdLHa3H...|Kahlil|   32|
|BAX7MdujQiv_Camqi...|Kahlil|    0|
|fepcVUPERVRA16b4M...|Kahlil|    0|
|uvG9MAZF6vIVBoj24...|Kahlil|    4|
|sEQtegzBDjARGB_YM...|Kahlil|    0|
|JpOCv0TtT2nz0gv0S...|Kahlil|    0|
+--------------------+------+-----+
```

In [ ]:
# This notebook provides several asserts for each problem.
#
# There are also hidden tests that are run by the autograder after submission.

assert callable(users_kahlil), "The answer must be a callable function."

result = users_kahlil()
assert (
    type(result) == pyspark.sql.dataframe.DataFrame
), "The return value should be a Spark DataFrame."

expected_columns = ["user_id", "name", "funny"]
assert set(result.columns) == set(expected_columns), "The columns are incorrect."
assert result.columns == expected_columns, "The columns are not in the correct order."

AutograderHelper.assert_function_calls(users_kahlil, ["spark.sql"])

users_kahlil_ids = [r["user_id"] for r in users_kahlil().collect()]

In [ ]:
assert len(users_kahlil_ids) == 6, "The result must have 6 rows."

expected_user_id = "HE5fZW8m7MpdLHa3HGp1FA"
assert (
    expected_user_id in users_kahlil_ids
), f'The user_id column should include "{expected_user_id}"'

### Question 0: Simple Query Example
**Task:** Get a list of users named "Kahlil" with the number of their reviews tagged "funny".

**Solution:**
```python
def users_kahlil():
    return spark.sql(
        """\
        SELECT user_id, name, funny
        FROM user
        WHERE name = "Kahlil"
        """
    )

# Assign the result to the variable
result = users_kahlil()
result.show()
```

**Explanation:**
- **SELECT user_id, name, funny**: Selects the columns `user_id`, `name`, and `funny` from the `user` table.
- **FROM user**: Specifies the `user` table as the source of the data.
- **WHERE name = "Kahlil"**: Filters the rows to include only users named "Kahlil".

**Thought Process:**
1. Identify the columns needed: `user_id`, `name`, and `funny`.
2. Filter the data to include only users named "Kahlil".
3. Use `spark.sql()` to execute the query and return the result.

### Summary:
- **Question 0:** Get a list of users named "Kahlil" with the number of their reviews tagged "funny".

---
## Question 1 -- Users with 500 Fans

Determine how many users have more than 500 fans.

- The result should have 1 column and 1 row
- The name of the column does not matter

In [ ]:
def count_users_500_fans():
    # YOUR CODE HERE
    raise NotImplementedError()

assert callable(count_users_500_fans), "The answer must be a callable function."

assert (
    type(count_users_500_fans()) == pyspark.sql.dataframe.DataFrame
), "The return value should be a Spark DataFrame."

AutograderHelper.assert_function_calls(count_users_500_fans, ["spark.sql"])

count_users_500_fans_submitted = count_users_500_fans().collect()[0][0]

assert (
    count_users_500_fans_submitted != 8286
), "That is the number of users who have more than 500 funny ratings."

### Question 1: Users with 500 Fans
**Task:** Determine how many users have more than 500 fans.

**Solution:**
```python
def count_users_500_fans():
    query = """
    SELECT COUNT(*) AS user_count
    FROM user
    WHERE fans > 500
    """
    return spark.sql(query)

# Assign the result to the variable
result = count_users_500_fans()
result.show()
```

**Explanation:**
- **SELECT COUNT(*) AS user_count**: Counts the number of users who meet the condition and assigns the result to the column `user_count`.
- **FROM user**: Specifies the `user` table as the source of the data.
- **WHERE fans > 500**: Filters the rows to include only users with more than 500 fans.

**Thought Process:**
1. Identify the condition: users with more than 500 fans.
2. Use the `COUNT(*)` function to count the number of users who meet this condition.
3. Use `spark.sql()` to execute the query and return the result.

### Summary:
- **Question 1:** Determine how many users have more than 500 fans.

## Question 2 -- Business Reviews

Using the `business` table, determine how many businesses have at least 4 stars and at least 100 reviews.

- The result should have 1 column and 1 row
- The name of the column does not matter

In [ ]:
def business_reviews_count():
    # YOUR CODE HERE
    raise NotImplementedError()

assert callable(business_reviews_count), "The answer must be a callable function."

assert (
    type(business_reviews_count()) == pyspark.sql.dataframe.DataFrame
), "The return value should be a Spark DataFrame."

AutograderHelper.assert_function_calls(business_reviews_count, ["spark.sql"])

business_reviews_count_submitted = business_reviews_count().collect()[0][0]

assert business_reviews_count_submitted != 2814, (
    "2814 is the number of businesses with greater than 4 stars (you should include ones with 4 stars) "
    "and greater than 100 reviews (you should include ones with 100 reviews)."
)

assert business_reviews_count_submitted != 7397, (
    "7397 is the number of businesses with at least 4 stars and greater than 100 reviews (you should "
    "include ones with 100 reviews)."
)
assert business_reviews_count_submitted != 2842, (
    "2842 is the number of businesses with greater than 4 stars (you should include ones with 4 stars) "
    "and at least 100 reviews."
)

## Question 3 -- Litchfield, Ohio

Get a list of businesses from Litchfield, OH. 

- The result should have these columns (in this order):
  - `business_id`
  - `name`
- The result rows do NOT need to be ordered

In [ ]:
def litchfield_oh_businesses():
    # YOUR CODE HERE
    raise NotImplementedError()

assert callable(litchfield_oh_businesses), "The answer must be a callable function."

AutograderHelper.assert_function_calls(litchfield_oh_businesses, ["spark.sql"])

result = litchfield_oh_businesses()
assert (
    type(result) == pyspark.sql.dataframe.DataFrame
), "The return value should be a Spark DataFrame."

expected_columns = ["business_id", "name"]
assert set(result.columns) == set(expected_columns), "The columns are incorrect."
assert result.columns == expected_columns, "The columns are not in the correct order."

litchfield_oh_business_names = [r["name"] for r in result.collect()]

assert (
    "Tonios Pizza" in litchfield_oh_business_names
), "'Tonios Pizza' should appear in the result."
assert (
    "Hayseed" not in litchfield_oh_business_names
), "'Hayseed' should not appear in the result."

## Question 4 -- US States

Determine which US states are represented in the data set. (The file `../../assets/data/states.csv` contains a list of US state names and abbreviations.) Part of your task is to import the full names of states and use those values in the result.

- The result should have one column:
  - `state` (the full name of the state in the dataset)
- The result rows do NOT need to be ordered
- We are looking for the full names of states that appear in the `business` table
  - Hint: Michigan does not appear in that table

In [ ]:
def states_names_in_data():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert callable(states_names_in_data), "The answer must be a callable function."

AutograderHelper.assert_function_calls(states_names_in_data, ["spark.sql"])

assert (
    type(states_names_in_data()) == pyspark.sql.dataframe.DataFrame
), "The return value should be a Spark DataFrame."

state_names_list = [r["state"] for r in states_names_in_data().collect()]

In [ ]:
assert (
    "North Carolina" in state_names_list
), "North Carolina should appear in the result."
assert "Michigan" not in state_names_list, "Michigan should not appear in the result."

### SQL Query:
```python
query = """
SELECT DISTINCT s.state AS state
FROM business b
JOIN states s ON b.state = s.abbreviation
"""
```

### Function:
```python
def states_names_in_data():
    query = """
    SELECT DISTINCT s.state AS state
    FROM business b
    JOIN states s ON b.state = s.abbreviation
    """
    return spark.sql(query)

# Assign the result to the variable
result = states_names_in_data()
result.show()
```

### Explanation:
- **SELECT DISTINCT s.state AS state**: Selects the unique full names of the states from the `states` table.
- **FROM business b**: Specifies the `business` table as the source of the data.
- **JOIN states s ON b.state = s.abbreviation**: Joins the `business` table with the `states` table on the state abbreviation.

### Thought Process:
1. Correct the column name for the state abbreviation in the `states` table.
2. Join the `business` table with the `states` table to get the full names of the states.
3. Select the unique full names of the states that appear in the `business` table.

## Question 6 -- Most Tips

Determine the names of the top 100 users who provided the most tips.

- The result should have these columns (in this order):
  - `name`
  - `tip_count`
- The result should be sorted by highest-to-lowest tip_count, in the case of tip_count ties, the results should be sorted by name alphabetically. For example (this is fake data):
  ```
  +--------+---------+
  |    name|tip_count|
  +--------+---------+
  | Weifong|      167|
  |   Alice|       42|
  |     Bob|       42|
  |   Jamal|        3|
  +--------+---------+
  ```
  
Note that not having the secondary sorting can cause subtle bugs.

In [ ]:
def users_top_100_tip_count():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert callable(users_top_100_tip_count), "The answer must be a callable function."

AutograderHelper.assert_function_calls(users_top_100_tip_count, ["spark.sql"])

result = users_top_100_tip_count()
assert (
    type(result) == pyspark.sql.dataframe.DataFrame
), "The return value should be a Spark DataFrame."

expected_columns = ["name", "tip_count"]
assert set(result.columns) == set(expected_columns), "The columns are incorrect."
assert result.columns == expected_columns, "The columns are not in the correct order."

users_top_100_tip_count_first_row = result.take(1)[0]

In [ ]:
assert (
    users_top_100_tip_count_first_row["name"] == "Momo"
), "The first name should be Momo"
assert (
    users_top_100_tip_count_first_row["tip_count"] == 2439
), "The first tip_count should be 2439"

## Question 7 -- Arizona Summary

List the names, number of reviews of businesses in Arizona ('AZ') and total number of reviews of the top 10 users (as determined by who has created the most number of reviews of businesses in Arizona). Include a column that shows the percentage of reviews that are of businesses from Arizona. 

- The result should have these columns (in this order):
  - `name`
  - `az_count`
  - `total_count` (Use the "user" table's "review_count" column for this value)
  - `percent` (this will only be checked to within 0.01)
- The result should be sorted by highest-to-lowest `az_count`, in the case of `az_count ties`, the results should be sorted by highest-to-lowest `percent`



The first row of the results should be:
```
+--------+--------+-----------+---------+
|    name|az_count|total_count|  percent|
+--------+--------+-----------+---------+
|    Brad|    1637|       1642|99.695496|
+--------+--------+-----------+---------+

In [ ]:
def arizona_summary():
    # YOUR CODE HERE
    return 
# raise NotImplementedError()

In [ ]:
assert callable(arizona_summary), "The answer must be a callable function."

AutograderHelper.assert_function_calls(arizona_summary, ["spark.sql"])

result = arizona_summary()
assert (
    type(result) == pyspark.sql.dataframe.DataFrame
), "The return value should be a Spark DataFrame."

expected_columns = ["name", "az_count", "total_count", "percent"]
assert set(result.columns) == set(expected_columns), "The columns are incorrect."
assert result.columns == expected_columns, "The columns are not in the correct order."

arizona_summary_first_row = result.take(1)[0]

In [ ]:
assert arizona_summary_first_row["name"] == "Brad", "The first name should be Brad"
assert (
    arizona_summary_first_row["az_count"] == 1637
), "The first az_count should be 1637"
assert (
    arizona_summary_first_row["total_count"] == 1642
), "The first total_count should be 1642"

# We use __builtin__.round() here to avoid problems if pyspark.sql.functions.round
# is imported in to the global namespace
assert __builtin__.round(float(arizona_summary_first_row["percent"]), 2) == 99.70, (  # noqa
    f"The first percent should be about 99.70 (checking to "
    f"nearest 0.01, found {arizona_summary_first_row['percent']})"
)

In [ ]:
# Output
```
[Stage 203:===================>                                     (1 + 2) / 3]
+--------+--------+-----------+---------+
|    name|az_count|total_count|  percent|
+--------+--------+-----------+---------+
|    Brad|    1637|       1642|99.695493|
|   Karen|    1559|       2340|66.623932|
|Jennifer|    1250|       1929|64.800415|
|    Gabi|    1151|       1932|59.575569|
|    Judy|    1059|       1193|88.767812|
|Jennifer|    1059|       4190|25.274463|
|    John|     922|          2|  46100.0|
|  Aileen|     908|        934|97.216274|
|    John|     882|          3|  29400.0|
|    John|     879|          1|  87900.0|
+--------+--------+-----------+---------+

```

Let's write the function `arizona_summary` to list the names, number of reviews of businesses in Arizona ('AZ'), and the total number of reviews of the top 10 users who have created the most number of reviews of businesses in Arizona. We'll also include a column that shows the percentage of reviews that are of businesses from Arizona.

### Function:
```python
def arizona_summary():
    query = """
    SELECT u.name, COUNT(r.review_id) AS az_count, u.review_count AS total_count,
           ROUND((COUNT(r.review_id) / u.review_count) * 100, 6) AS percent
    FROM review r
    JOIN business b ON r.business_id = b.business_id
    JOIN user u ON r.user_id = u.user_id
    WHERE b.state = 'AZ'
    GROUP BY u.name, u.review_count
    ORDER BY az_count DESC, percent DESC
    LIMIT 10
    """
    return spark.sql(query)

# Assign the result to the variable
result = arizona_summary()
result.show()
```

### Explanation:
- **SELECT u.name, COUNT(r.review_id) AS az_count, u.review_count AS total_count, ROUND((COUNT(r.review_id) / u.review_count) * 100, 6) AS percent**: Selects the `name` column from the `user` table, counts the number of reviews of businesses in Arizona (`az_count`), gets the total number of reviews (`total_count`), and calculates the percentage of reviews that are of businesses from Arizona (`percent`).
- **FROM review r**: Specifies the `review` table as the source of the data.
- **JOIN business b ON r.business_id = b.business_id**: Joins the `review` table with the `business` table on the `business_id`.
- **JOIN user u ON r.user_id = u.user_id**: Joins the `review` table with the `user` table on the `user_id`.
- **WHERE b.state = 'AZ'**: Filters the rows to include only reviews of businesses in Arizona.
- **GROUP BY u.name, u.review_count**: Groups the results by the `name` and `review_count` columns.
- **ORDER BY az_count DESC, percent DESC**: Orders the results by `az_count` in descending order and by `percent` in descending order in case of ties.
- **LIMIT 10**: Limits the result to the top 10 users.

### Thought Process:
1. Identify the columns needed: `name`, `az_count`, `total_count`, and `percent`.
2. Join the `review` table with the `business` and `user` tables to get the necessary data.
3. Filter the data to include only reviews of businesses in Arizona.
4. Count the number of reviews of businesses in Arizona and get the total number of reviews for each user.
5. Calculate the percentage of reviews that are of businesses from Arizona.
6. Sort the results by `az_count` in descending order and by `percent` in descending order in case of ties.
7. Limit the result to the top 10 users.
8. Use `spark.sql()` to execute the query and return the result.