1. True or false? Every Spark Dataframe can have a view created.

Answer: True

Explanation: In Spark, you can create a view from any DataFrame using the createOrReplaceTempView or createOrReplaceGlobalTempView methods. These methods allow you to create a temporary or global temporary view of the DataFrame, which can then be queried using SQL. This is useful for running SQL queries on your DataFrame without having to write complex DataFrame operations.

2. Which of the below is a correct sequencing for an SQL selection statement? 

- SELECT [columns] FROM [tables] WHERE [filter conditionals] ORDER BY [sort columns] 
- FROM [tables] SELECT [columns] WHERE [filter conditionals] ORDER BY [sort columns] 
- SELECT [columns] FROM [tables] ORDER BY [sort columns] WHERE [filter conditionals] 
- ORDER [columns] BY [conditional] FROM [tables] SELECT WHERE [filter conditionals]

**Answer:** SELECT [columns] FROM [tables] WHERE [filter conditionals] ORDER BY [sort columns]

**Explanation:**
The correct sequence for an SQL selection statement follows this order:
1. **SELECT [columns]**: Specifies the columns to be retrieved.
2. **FROM [tables]**: Specifies the table(s) from which to retrieve the data.
3. **WHERE [filter conditionals]**: Applies conditions to filter the rows.
4. **ORDER BY [sort columns]**: Specifies the columns by which to sort the result set.

This sequence ensures that the SQL query retrieves the specified columns from the specified tables, filters the rows based on the conditions, and sorts the result set by the specified columns.

3. Which of the below characters are used for wildcards? 
- $ 
- _ 
- @ 
- %

In SQL, the characters used for wildcards are:

- **_**: Represents a single character.
- **%**: Represents zero or more characters.

So, the correct answers are **_** and **%**.

### Explanation:
- **_ (underscore)**: This wildcard character is used to match any single character. For example, the pattern `_a` would match any two-character string where the second character is 'a' (e.g., "ba", "ca").
- **% (percent)**: This wildcard character is used to match any sequence of characters (including zero characters). For example, the pattern `%a` would match any string that ends with 'a' (e.g., "ba", "cba", "a").

4. Which of the following are true about WHERE and HAVING in SQL? 

- WHERE is applied to the output following a GROUP BY 
- HAVING is applied to the output following a GROUP BY 
- WHERE and HAVING both accept the same format of conditional argument/phrase 
- WHERE immediately follows FROM [table_names]

1. **WHERE is applied to the output following a GROUP BY**: False. The `WHERE` clause is applied before the `GROUP BY` clause, filtering rows before they are grouped.

2. **HAVING is applied to the output following a GROUP BY**: True. The `HAVING` clause is used to filter groups after the `GROUP BY` clause has been applied.

3. **WHERE and HAVING both accept the same format of conditional argument/phrase**: True. Both `WHERE` and `HAVING` clauses accept similar conditional arguments, but `WHERE` is used to filter rows before grouping, while `HAVING` is used to filter groups after grouping.

4. **WHERE immediately follows FROM [table_names]**: True. The `WHERE` clause comes immediately after the `FROM` clause in an SQL query.

### Summary:
- **True**: HAVING is applied to the output following a GROUP BY
- **True**: WHERE and HAVING both accept the same format of conditional argument/phrase
- **True**: WHERE immediately follows FROM [table_names]

5. True or False? Triple quotes can be used to write more easily-readable, multiline SQL statements.

**True**. Triple quotes (`'''` or `"""`) can be used in Python to write more easily-readable, multiline SQL statements. This is particularly useful when writing complex SQL queries that span multiple lines, as it helps maintain readability and organization.

### Example:
```python
query = """
SELECT column1, column2
FROM table_name
WHERE condition1 = value1
AND condition2 = value2
ORDER BY column1;
"""
```

Using triple quotes allows you to format the SQL query in a way that is easy to read and understand.

6. Which of the following SQL keywords can be utilized to temporarily "rename" or "alias" a column? 

- AS 
- RENAME 
- WITHNAME 
- NAMEAS

The correct SQL keyword to temporarily "rename" or "alias" a column is **AS**.

### Explanation:
- **AS**: This keyword is used to create an alias for a column or table. It allows you to temporarily rename a column or table for the duration of the query.
  ```sql
  SELECT column_name AS alias_name
  FROM table_name;
  ```

- **RENAME**: This keyword is not used for aliasing columns. It is typically used to rename tables or columns permanently in some SQL dialects, but not for temporary aliasing in a query.

- **WITHNAME**: This is not a valid SQL keyword.

- **NAMEAS**: This is not a valid SQL keyword.

### Example:
```sql
SELECT first_name AS name
FROM employees;
```

In this example, the `first_name` column is temporarily renamed to `name` for the duration of the query.

7. An SQL Join that returns all records when a match exists in either (left or right) table is a/an: 

- Left (Outer) Join 
- Right (Outer) Join 
- Full (Outer) Join 
- (Inner) Join

The correct answer is **Full (Outer) Join**.

### Explanation:
- **Left (Outer) Join**: Returns all records from the left table and the matched records from the right table. If there is no match, the result is NULL on the side of the right table.
- **Right (Outer) Join**: Returns all records from the right table and the matched records from the left table. If there is no match, the result is NULL on the side of the left table.
- **Full (Outer) Join**: Returns all records when there is a match in either the left or right table. If there is no match, the result is NULL on the side that does not have a match.
- **(Inner) Join**: Returns only the records that have matching values in both tables.

### Example:
```sql
SELECT *
FROM table1
FULL OUTER JOIN table2
ON table1.id = table2.id;
```

In this example, the `FULL OUTER JOIN` returns all records from both `table1` and `table2`, with NULLs in places where there is no match.

8. An SQL Join that returns all left-table records with records matched in the right table is a/an: 

- Right (Outer) Join 
- Left (Outer) Join 
- Full (Outer) Join 
- (Inner) Join

The correct answer is **Left (Outer) Join**.

### Explanation:
- **Left (Outer) Join**: Returns all records from the left table and the matched records from the right table. If there is no match, the result is NULL on the side of the right table.
- **Right (Outer) Join**: Returns all records from the right table and the matched records from the left table. If there is no match, the result is NULL on the side of the left table.
- **Full (Outer) Join**: Returns all records when there is a match in either the left or right table. If there is no match, the result is NULL on the side that does not have a match.
- **(Inner) Join**: Returns only the records that have matching values in both tables.

### Example:
```sql
SELECT *
FROM table1
LEFT OUTER JOIN table2
ON table1.id = table2.id;
```

In this example, the `LEFT OUTER JOIN` returns all records from `table1` and the matched records from `table2`, with NULLs in places where there is no match.